<!-- Testimonials Section -->
<section id="testimonials" class="testimonials section light-background">

<!-- Section Title -->
<div class="container section-title" data-aos="fade-up">
    <h2>Testimonials</h2>
    <div class="title-shape">
    <svg viewBox="0 0 200 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M 0,10 C 40,0 60,20 100,10 C 140,0 160,20 200,10" fill="none" stroke="currentColor" stroke-width="2">
        </path>
    </svg>
    </div>
    <p>
    Have a quick look into some feedback from clients and users of completed projects. They would reflect the quality of my work and the impact of the solutions I have provided.
    </p>
</div><!-- End Section Title -->

<div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="testimonials-slider swiper init-swiper">

    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let item of testimonials">
        <div class="testimonial-item">
            <div class="row">
            <div class="col-lg-8">
                <h2>{{ item.title }}</h2>
                <p>
                {{ item.introduction }}
                </p>
                <p>
                {{ item.content }}
                </p>
                <div class="profile d-flex align-items-center">
                <img [src]="item.image" class="profile-img" alt="">
                <div class="profile-info">
                    <h3>{{ item.name }}</h3>
                    <span>{{ item.profession}}</span>
                </div>
                </div>
            </div>
            <div class="col-lg-4 d-none d-lg-block">
                <div class="featured-img-wrapper">
                <img [src]="item.image" class="featured-img" alt="">
                </div>
            </div>
            </div>
        </div>
        </div><!-- End Testimonial Item -->
    </div>

    <div class="swiper-navigation w-100 d-flex align-items-center justify-content-center">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

    </div>

</div>

</section><!-- /Testimonials Section -->
