<app-header></app-header>

<!-- Resume Section -->
<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <div class="title-shape">
            <svg viewBox="0 0 200 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M 0,10 C 40,0 60,20 100,10 C 140,0 160,20 200,10" fill="none" stroke="currentColor"
                    stroke-width="2">
                </path>
            </svg>
        </div>
        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel
            illum
            qui dolorem</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
            <div class="col-12">
                <div class="resume-wrapper">
                    <div class="resume-block" data-aos="fade-up">
                        <h2>Work Experience</h2>
                        <p class="lead">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet
                            adipiscing
                            sem neque sed ipsum.</p>

                        <div class="timeline">
                            <div class="timeline-item" data-aos="fade-up" data-aos-delay="200">
                                <div class="timeline-left">
                                    <h4 class="company">CAM Management Solutions (Pvt) Ltd.</h4>
                                    <span class="period">Oct, 2024 - Current</span>
                                </div>
                                <div class="timeline-dot"></div>
                                <div class="timeline-right">
                                    <h3 class="position">Senior Software Engineer</h3>
                                    <p class="description">Camms, A Riskonnect Company delivers ERP solutions - GRC
                                        (Governance, Risk Management, and Compliance) software products for multi-region
                                        clients.</p>
                                    <ul>
                                        <li>
                                            Involved in enterprise mobile application development consists of tasks such
                                            as offline features, integrate push notifications, multi-threading, and
                                            background services.
                                        </li>
                                        <li>
                                            Worked on .NET Web API development, MS SQL database tasks, implemented and
                                            improved push notification functionality using Google Cloud APIs.
                                        </li>
                                        <li>
                                            Improved app security by implementing SSL pinning, prevent executing apps in
                                            rooted devices/jailbroken device.
                                        </li>
                                        <li>
                                            Executed Agile practices with both Scrum and Kanban boards, including CI/CD
                                            pipelines for mobile deployments.
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="timeline-item" data-aos="fade-up" data-aos-delay="300">
                                <div class="timeline-left">
                                    <h4 class="company">Rhotera Systems</h4>
                                    <span class="period">Oct, 2023 - Present</span>
                                </div>
                                <div class="timeline-dot"></div>
                                <div class="timeline-right">
                                    <h3 class="position">Founder</h3>
                                    <p class="description">
                                        Rhotera Systems provides wide range of software services to convert ideas into
                                        profitable software solutions including
                                        strong maintenance service. Worldwide customers are using our live solutions
                                        available in multi-languages.
                                    </p>
                                    <ul>
                                        <li>
                                            Completed Ecommerce solution with mobile apps including Stripe payment
                                            gateway, QR pay, and bank transfers;
                                            which is ranked in top apps in shopping category.
                                        </li>
                                        <li>
                                            Completed an event/movie ticket booking app with localization support.
                                        </li>
                                        <li>
                                            Delivered accessibility mobile app with assistive features (TTS/STT) for
                                            voice-based calculator,
                                            chatbot with Gemini API integration.
                                        </li>
                                        <li>
                                            Provided consultations and technical solutions for the requirements of
                                            clients while practicing product development life cycle.
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="timeline-item" data-aos="fade-up" data-aos-delay="400">
                                <div class="timeline-left">
                                    <h4 class="company">Webmotech (Pvt) Ltd.</h4>
                                    <span class="period">Nov, 2023 - Sep, 2024</span>
                                </div>
                                <div class="timeline-dot"></div>
                                <div class="timeline-right">
                                    <h3 class="position">Mobile Engineer</h3>
                                    <p class="description">
                                        Launched 7+ mobile apps and increased product delivery rate while mentoring
                                        junior mobile developers.
                                        Improved application performance by 80% with integrating GraphQL endpoints and
                                        micro tasks to seperate ui rendering and data fetching.
                                    </p>
                                    <ul>
                                        <li>
                                            Completed chat app with video/audio message sharing features supported with
                                            web sockets, and media compression features.
                                        </li>
                                        <li>
                                            Completed Ecommerce mobile app with bank payment gateway integrations using
                                            JavaScript channels.
                                        </li>
                                        <li>
                                            Designed equitable, enjoyable, useful UI designs and prototypes for 4+
                                            mobile apps.
                                        </li>
                                        <li>
                                            Participated in client meetups, requirement analysis, and system design
                                            sessions, and worked towards winning position-relative
                                            feedback and new clients.
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="timeline-item" data-aos="fade-up" data-aos-delay="500">
                                <div class="timeline-left">
                                    <h4 class="company">Nuvay (Pvt) Ltd.</h4>
                                    <span class="period">Jun, 2023 - Oct, 2024</span>
                                </div>
                                <div class="timeline-dot"></div>
                                <div class="timeline-right">
                                    <h3 class="position">Software Engineer - Flutter</h3>
                                    <p class="description">
                                        Improved feature delivery rate by 75% while integrating several apps into
                                        enterprise mobile solutions.
                                        Executed Test-driven development to minimize errors and focused
                                        attention-to-detail on Adobe XD UI desings.
                                    </p>
                                    <ul>
                                        <li>
                                            Developed, and released M-Learning apps for students of UK education system,
                                            with mobile and tablet responsive design.
                                        </li>
                                        <li>
                                            Leveraged the app experience of mobile apps by implementing features like
                                            video playing, timed quizzes, audio feedback and gamification.
                                        </li>
                                        <li>
                                            Designed equitable, enjoyable, useful UI designs and prototypes for 4+
                                            mobile apps.
                                        </li>
                                        <li>
                                            Merged several projects as Flutter packages into single code base to
                                            increase code maintainability.
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="timeline-item" data-aos="fade-up" data-aos-delay="600">
                                <div class="timeline-left">
                                    <h4 class="company">Inivos Technologies (Pvt) Ltd.</h4>
                                    <span class="period">Jan, 2022 - Apr, 2023</span>
                                </div>
                                <div class="timeline-dot"></div>
                                <div class="timeline-right">
                                    <h3 class="position">Software Engineer</h3>
                                    <p class="description">
                                        Mainly worked in Flutter mobile and web project which is used by Australian
                                        citizens who are engaged with Australian energy organizations.
                                        App helps to organize and optmize their energy experience within household and
                                        office spaces.
                                    </p>
                                    <ul>
                                        <li>
                                            Developed and maintained releases of ERP mobile and web solution using
                                            Flutter for Australian energy market
                                            including charts, document uploading, animations, nested scroll views and
                                            authentication flows.
                                        </li>
                                        <li>
                                            Documented app flows & architecture using draw.io & JIRA Confluence. Worked
                                            in Agile environment with marketing teams,
                                            testers, and UI designers.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="resume-block" data-aos="fade-up" data-aos-delay="100">
                        <h2>My Education</h2>
                        <p class="lead">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet
                            adipiscing.</p>

                        <div class="timeline">
                            <div class="timeline-item" data-aos="fade-up" data-aos-delay="200">
                                <div class="timeline-left">
                                    <h4 class="company">University of Westminster</h4>
                                    <span class="period">Jan, 2024 - Present</span>
                                </div>
                                <div class="timeline-dot"></div>
                                <div class="timeline-right">
                                    <h3 class="position">MSc Advanced Software Engineering (Reading)</h3>
                                    <p class="description">Curabitur ullamcorper ultricies nisi nam eget dui etiam
                                        rhoncus maecenas
                                        tempus.</p>
                                </div>
                            </div>

                            <div class="timeline-item" data-aos="fade-up" data-aos-delay="300">
                                <div class="timeline-left">
                                    <h4 class="company">Sri Lanka Institute of Information Technology</h4>
                                    <span class="period">Sep, 2017 - Oct, 2022</span>
                                </div>
                                <div class="timeline-dot"></div>
                                <div class="timeline-right">
                                    <h3 class="position">BSc. (Hons) Degree in Information Technology Specializing in
                                        Software Engineering</h3>
                                    <p class="description">Curabitur ullamcorper ultricies nisi nam eget dui etiam
                                        rhoncus maecenas
                                        tempus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<!-- /Resume Section -->

<app-footer></app-footer>